.cta {
	display: inline-block;
	padding: 0.75em 1.5em;
	border: none;
	border-radius: 2em;
	background: linear-gradient(to right, hsla(136, 65%, 51%, 1), hsla(192, 70%, 51%, 1));
	font-weight: 700;
	color: var(--clr-neutral-100);
	cursor: pointer;

	&:hover {
		background: linear-gradient(to right, hsla(136, 65%, 51%, 0.75), hsla(192, 70%, 51%, 0.75));
		color: var(--clr-neutral-100);
	}
}
