.cta {
	display: inline-block;
	max-width: fit-content;
	padding: 0.5em 1.5em 0.6em;
	border: none;
	border-radius: 2em;
	background: var(--clr-primary-100);
	font-weight: 700;
	color: var(--clr-neutral-100);
	cursor: pointer;

	&:hover {
		box-shadow: 0 0.5em 0.5em hsla(12, 88%, 59%, 0.5);
		background: hsla(12, 88%, 59%, 0.75);
		color: var(--clr-neutral-100);
	}
}
