/* 	Footer
   	================================================== */

.footer {
	grid-column: 1 / -1;
	padding-top: 3rem;
	padding-bottom: 3rem;
	background-color: var(--clr-primary-100);
	color: var(--clr-neutral-100);

	a {
		color: var(--clr-neutral-100);

		&:hover:not(.cta) {
			color: var(--clr-primary-200);
		}
	}

	.navigation {
		flex-basis: 60%;
	}

	.wrapper:first-of-type {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 1rem;
	}

	.logo {
		margin-right: auto;
		margin-left: auto;

		svg path {
			fill: var(--clr-neutral-100);
		}

		svg:hover path {
			fill: var(--clr-primary-200);
		}

		@include respond-to("medium") {
			margin-right: auto;
			margin-left: 0;
		}
	}

	.icons {
		display: flex;
		justify-content: center;
		gap: 0.75em;

		svg:hover path {
			fill: var(--clr-primary-200);
		}
	}

	.cta {
		align-self: center;

		@include respond-to("medium") {
			align-self: flex-end;
		}
	}

	small {
		color: var(--clr-neutral-400);
	}
}
