/* 	Footer
   	================================================== */

.footer {
	grid-column: 1 / -1;
	padding-top: 3rem;
	padding-bottom: 3rem;
	margin-top: 0;
	background-color: var(--clr-neutral-400);
	color: var(--clr-neutral-100);

	ul:not([class="icons"]) li:not(:first-of-type) {
		margin-top: 1rem;
	}

	a {
		color: var(--clr-neutral-100);

		&:hover:not(.cta) {
			color: var(--clr-primary-100);
		}
	}

	.navigation {
		flex-basis: 30%;
	}

	.wrapper.images {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 1rem;
	}

	.logo {
		margin-right: auto;
		margin-left: auto;

		svg path {
			fill: var(--clr-neutral-100);
		}

		svg g {
			fill: var(--clr-primary-100);
		}

		@include respond-to("medium") {
			margin-right: auto;
			margin-left: 0;
		}
	}

	.icons {
		display: flex;
		justify-content: center;
		gap: 0.75em;

		svg:hover path {
			fill: var(--clr-primary-100);
		}
	}

	.wrapper.form {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	form > .wrapper {
		display: flex;
		justify-content: space-between;
		gap: 0.5rem;

		input {
			padding-left: 1em;
			border: none;
			border-radius: 2em;
			line-height: 2.5em;

			&::placeholder {
				font-size: var(--step--1);
			}
		}

		.cta {
			max-width: min-content;
		}
	}

	.validate {
		visibility: hidden;
		font-size: var(--step--1);
	}

	.validate.error {
		visibility: revert;
		color: red;
	}

	p.small {
		color: var(--clr-neutral-300);

		@include respond-to("medium") {
			text-align: right;
		}
	}
}
