/* Main
   ================================================== */

/* Intro - section
   ------------------- */
.intro {
	@include respond-to("medium") {
		flex-direction: row-reverse;
		align-items: center;
	}

	img {
		margin-right: auto;
		margin-left: auto;

		@include respond-to("medium") {
			margin-right: 0;
		}
	}
}
