/* Different - section
   ------------------- */
.simplify {
	width: 100vw;
	padding-top: 3rem;
	padding-bottom: 3rem;
	margin-left: calc(50% - 50vw);
	background-color: var(--clr-primary-100);

	.wrapper {
		align-items: center;

		> h2 {
			max-width: 20ch;
			color: var(--clr-neutral-100);
		}

		> a {
			max-width: max-content;
			background-color: var(--clr-neutral-100);
			color: var(--clr-primary-100);

			&:hover {
				color: hsla(12, 88%, 59%, 0.75);
			}
		}
	}
}
